

        ${methodGenVelocityParam.returnTypeSimpleName} ${methodGenVelocityParam.searchMethodName}(#if(${methodGenVelocityParam.paramDTOType})@Param("condition")#end${methodGenVelocityParam.methodParams});
