
        /**
         * 查询
         */
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} selectById(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName});
