
<select id="${methodGenVelocityParam.searchMethodName}" resultType="${basePackageName}#if(${moduleName}).${moduleName}#end.${resultDTOConfig.packageSimpleName}.${methodGenVelocityParam.returnTypeName}">
    ${methodGenVelocityParam.xmlContent}
</select>