package ${basePackageName}#if(${moduleName}).${moduleName}#end#if(${paramDTOConfig.packageSimpleName}).${paramDTOConfig.packageSimpleName}#end;

import java.io.Serializable;
import java.util.*;
#if(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${lombok})
import lombok.Getter;
import lombok.Setter;
#end

/**
 * ${methodGenVelocityParam.searchMethodName}Param
 *
 * @author ${author}
 * @since ${generateTime}
 */
#if(${lombok})
@Getter
@Setter
#end
#if(${swagger})
@ApiModel(value = "${methodGenVelocityParam.capitalizeSearchMethodName}Param")
#end
public class ${methodGenVelocityParam.capitalizeSearchMethodName}Param implements Serializable {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($column in ${methodGenVelocityParam.whereParamList})
#if("$!comment" != "")
  #if(${swagger})
    @ApiModelProperty("")
  #end
#end
    private ${column.paramType.getSimpleName()} ${column.paramName};
#end

## ----------  END 字段循环遍历  ----------
    @Override
    public String toString() {
        return "${methodGenVelocityParam.searchMethodName}Param{" +
          #foreach($columnn in ${methodGenVelocityParam.whereParamList})
            #if($!{foreach.index}==0)
                "${columnn.paramName}=" + ${columnn.paramName} +
            #else
                ", ${columnn.paramName}=" + ${columnn.paramName} +
            #end
          #end
                "}";
    }
}
