package ${basePackageName}#if(${moduleName}).${moduleName}#end#if(${resultDTOConfig.packageSimpleName}).${resultDTOConfig.packageSimpleName}#end;

import java.util.*;
import java.io.Serializable;
#if(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${lombok})
import lombok.Data;
#end

/**
 * ${methodGenVelocityParam.searchMethodName}Result
 *
 * @author ${author}
 * @since ${generateTime}
 */
#if(${lombok})
@Data
#end
#if(${swagger})
@ApiModel(value = "${methodGenVelocityParam.searchMethodName}Result")
#end
public class ${methodGenVelocityParam.capitalizeSearchMethodName}Result implements Serializable {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($column in ${methodGenVelocityParam.returnSelectList})
  #if("$!column.comment" != "")
    #if(${swagger})
    @ApiModelProperty("${column.comment}")
    #else
    /**
     * ${column.comment}
     */
    #end
  #end
    private ${column.javaType.getSimpleName()} ${column.camelCaseColumnName};
#end

## ----------  END 字段循环遍历  ----------
#if(!${lombok})
    @Override
    public String toString() {
            return "${methodGenVelocityParam.capitalizeSearchMethodName}Result{" +
      #foreach($column in ${methodGenVelocityParam.returnSelectList})
        #if($!{foreach.index}==0)
                "${column.camelCaseColumnName} = " + ${column.camelCaseColumnName} +
        #else
                ", ${column.camelCaseColumnName} = " + ${column.camelCaseColumnName} +
        #end
      #end
            "}";
    }
#end
}
