
    /**
     * 查询
     */
    @Override
    public ${methodGenVelocityParam.returnTypeSimpleName} ${methodGenVelocityParam.searchMethodName}($!{methodGenVelocityParam.methodParams}){
        ${methodGenVelocityParam.returnTypeSimpleName} result = this.baseMapper.${methodGenVelocityParam.searchMethodName}($!{methodGenVelocityParam.methodParamNames});
        return result;
    }