package ${basePackageName}#if(${moduleName}).${moduleName}#end#if(${controllerConfig.packageSimpleName}).${controllerConfig.packageSimpleName}#end;


import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
#if(${jsr303Verify})
import org.springframework.validation.annotation.Validated;
#end
#if(${swagger})
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
#end
import ${tableInfo.keyColumnInfo.javaType.getName()};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${serviceInterfaceConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${serviceInterfaceConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${paramDTOConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${paramDTOConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${resultDTOConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${resultDTOConfig.filePost};

/**
 * $!{tableInfo.comment}前端控制器
 *
 * @author ${author}
 * @since ${generateTime}
 */
#if(${swagger})
@Api("#if(${tableInfo.comment})${tableInfo.comment}#else${tableInfo.capitalizeTableName}${controllerConfig.filePost}#end")
#end
@RestController
@RequestMapping("#if(${moduleName})/${moduleName}#end/#if(${tableInfo.tableName})${tableInfo.tableName}#end")
public class ${tableInfo.capitalizeTableName}${controllerConfig.filePost} {
#*TODO 如何处理调用的，需要先遍历一遍所有模板的getObjectValueMap方法，对参数进行初始化，然后再设置模板就能调用到其他的模板的参数了*#
    @Autowired
    private ${tableInfo.capitalizeTableName}${serviceInterfaceConfig.filePost} ${tableInfo.tableName}${serviceInterfaceConfig.filePost};

    /**
     * 分页查询${tableInfo.capitalizeTableName}
     */
#if(${swagger})
    @ApiOperation(value = "page${tableInfo.capitalizeTableName}List", notes = "分页查询${tableInfo.capitalizeTableName}", response = ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost}.class)
#end
    @GetMapping("/page${tableInfo.capitalizeTableName}List")
    public R get${tableInfo.capitalizeTableName}List(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        PageUtils page = ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.page${tableInfo.capitalizeTableName}List(${tableInfo.tableName}${paramDTOConfig.filePost});
        return R.ok().put("page", page);
    }

    /**
     * 获取单个${tableInfo.capitalizeTableName}
     */
#if(${swagger})
    @ApiOperation(value = "get${tableInfo.capitalizeTableName}InfoBy${tableInfo.keyColumnInfo.capitalizePropertyName}/{${tableInfo.keyColumnInfo.propertyName}}", notes = "获取单个${tableInfo.capitalizeTableName}查询", response = ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost}.class)
#end
    @GetMapping("/get${tableInfo.capitalizeTableName}InfoBy${tableInfo.keyColumnInfo.capitalizePropertyName}/{${tableInfo.keyColumnInfo.propertyName}}")
    public R get${tableInfo.capitalizeTableName}InfoBy${tableInfo.keyColumnInfo.capitalizePropertyName}(@PathVariable("${tableInfo.keyColumnInfo.propertyName}") ${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {
        ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} ${tableInfo.tableName}${resultDTOConfig.filePost} = ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.get${tableInfo.capitalizeTableName}InfoBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.propertyName});
        return R.ok().put("${tableInfo.tableName}${resultDTOConfig.filePost}", ${tableInfo.tableName}${resultDTOConfig.filePost});
    }

    /**
     * 保存${tableInfo.capitalizeTableName}
     */
#if(${swagger})
    @ApiOperation(value = "add${tableInfo.capitalizeTableName}", notes = "保存${tableInfo.capitalizeTableName}")
#end
    @PostMapping("/add${tableInfo.capitalizeTableName}")
    public R add${tableInfo.capitalizeTableName}(@RequestBody #if(${jsr303Verify})@Validated #end${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.add${tableInfo.capitalizeTableName}(${tableInfo.tableName}${paramDTOConfig.filePost});
        return R.ok();
    }

    /**
     * 修改${tableInfo.capitalizeTableName}
     */
#if(${swagger})
    @ApiOperation(value = "update${tableInfo.capitalizeTableName}", notes = "修改${tableInfo.capitalizeTableName}")
#end
    @PostMapping("/update${tableInfo.capitalizeTableName}")
    public R update${tableInfo.capitalizeTableName}(@RequestBody #if(${jsr303Verify})@Validated #end${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.update${tableInfo.capitalizeTableName}(${tableInfo.tableName}${paramDTOConfig.filePost});
        return R.ok();
    }

    /**
     * 删除${tableInfo.capitalizeTableName}
     */
#if(${swagger})
    @ApiOperation(value = "delete${tableInfo.capitalizeTableName}By${tableInfo.keyColumnInfo.capitalizePropertyName}/{${tableInfo.keyColumnInfo.propertyName}}", notes = "删除${tableInfo.capitalizeTableName}")
#end
    @PostMapping("/delete${tableInfo.capitalizeTableName}By${tableInfo.keyColumnInfo.capitalizePropertyName}/{${tableInfo.keyColumnInfo.propertyName}}")
    public R delete${tableInfo.capitalizeTableName}By${tableInfo.keyColumnInfo.capitalizePropertyName}(@PathVariable("${tableInfo.keyColumnInfo.propertyName}") ${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {
        ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.delete${tableInfo.capitalizeTableName}By${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.propertyName});
        return R.ok();
    }

    #if(${tableInfo.tableRelationships})
    /**
     * 获取${tableInfo.capitalizeTableName}和关联关系
     */
     #if(${swagger})
    @ApiOperation(value = "get${tableInfo.capitalizeTableName}InfoAndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}/{${tableInfo.keyColumnInfo.propertyName}}", notes = "获取单个${tableInfo.capitalizeTableName}查询和关联关系", response = ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost}.class)
    #end
    @GetMapping("/get${tableInfo.capitalizeTableName}InfoAndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}/{${tableInfo.keyColumnInfo.propertyName}}")
    public R get${tableInfo.capitalizeTableName}InfoAndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(@PathVariable("${tableInfo.keyColumnInfo.propertyName}") ${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {
        ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} ${tableInfo.tableName}${resultDTOConfig.filePost} = ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.get${tableInfo.capitalizeTableName}InfoAndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.propertyName});
        return R.ok().put("${tableInfo.tableName}${resultDTOConfig.filePost}", ${tableInfo.tableName}${resultDTOConfig.filePost});
    }

    /**
     * 保存${tableInfo.capitalizeTableName}和关联关系
     */
     #if(${swagger})
    @ApiOperation(value = "add${tableInfo.capitalizeTableName}AndRelation", notes = "保存${tableInfo.capitalizeTableName}和关联关系")
     #end
    @PostMapping("/add${tableInfo.capitalizeTableName}AndRelation")
    public R add${tableInfo.capitalizeTableName}AndRelation(@RequestBody #if(${jsr303Verify})@Validated #end${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.add${tableInfo.capitalizeTableName}AndRelation(${tableInfo.tableName}${paramDTOConfig.filePost});
        return R.ok();
    }

    /**
     * 修改${tableInfo.capitalizeTableName}和关联关系
     */
     #if(${swagger})
    @ApiOperation(value = "update${tableInfo.capitalizeTableName}AndRelation", notes = "修改${tableInfo.capitalizeTableName}和关联关系")
     #end
    @PostMapping("/update${tableInfo.capitalizeTableName}AndRelation")
    public R update${tableInfo.capitalizeTableName}AndRelation(@RequestBody #if(${jsr303Verify})@Validated #end${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.update${tableInfo.capitalizeTableName}AndRelation(${tableInfo.tableName}${paramDTOConfig.filePost});
        return R.ok();
    }

    /**
     * 删除${tableInfo.capitalizeTableName}和关联关系
     */
     #if(${swagger})
    @ApiOperation(value = "delete${tableInfo.capitalizeTableName}AndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}/{${tableInfo.keyColumnInfo.propertyName}}", notes = "删除${tableInfo.capitalizeTableName}和关联关系")
     #end
    @PostMapping("/delete${tableInfo.capitalizeTableName}AndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}/{${tableInfo.keyColumnInfo.propertyName}}")
    public R delete${tableInfo.capitalizeTableName}AndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(@PathVariable("${tableInfo.keyColumnInfo.propertyName}") ${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {
        ${tableInfo.tableName}${serviceInterfaceConfig.filePost}.delete${tableInfo.capitalizeTableName}AndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.propertyName});
        return R.ok();
    }
    #end
}