package ${basePackageName}#if(${moduleName}).${moduleName}#end#if(${resultDTOConfig.packageSimpleName}).${resultDTOConfig.packageSimpleName}#end;

#foreach($packageName in ${tableInfo.getColumnTypePackageNames()})
import ${packageName};
#end
import java.util.*;
import java.io.Serializable;
#if(${swagger})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${lombok})
import lombok.Data;
#end
#if(!${tableInfo.tableRelationships})
  #foreach($relationTableInfo in ${tableInfo.tableRelationships})
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${resultDTOConfig.packageSimpleName}.${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost};
  #end
#end

/**
 * $!{tableInfo.comment}${resultDTOConfig.filePost}类
 *
 * @author ${author}
 * @since ${generateTime}
 */
#if(${lombok})
@Data
#end
#if(${swagger})
@ApiModel(value = "${tableInfo.capitalizeTableName}${resultDTOConfig.filePost}类", description = "$!{tableInfo.comment}")
#end
public class ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} implements Serializable {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($column in ${tableInfo.columnInfos})
  #if("$!column.comment" != "")
    #if(${swagger})
    @ApiModelProperty("${column.comment}")
    #else
    /**
     * ${column.comment}
     */
    #end
  #end
    private ${column.javaType.getSimpleName()} ${column.propertyName};

#end
## ----------  END 字段循环遍历  ----------

#if(!${lombok})
  #foreach($column in ${tableInfo.columnInfos})
    #if(${column.javaType.getName().equals("boolean")})
      #set($getprefix="is")
    #else
      #set($getprefix="get")
    #end
    public ${column.javaType.getSimpleName()} ${getprefix}${column.capitalizePropertyName}() {
        return ${column.propertyName};
    }

    public void set${column.capitalizePropertyName}(${column.javaType.getSimpleName()} ${column.propertyName}) {
        this.${column.propertyName} = ${column.propertyName};
    }
  #end
#end
#if(${tableInfo.tableRelationships})
    #foreach($relationTableInfo in ${tableInfo.tableRelationships})
        #if(${relationTableInfo.one2One})
        #*一对一  先默认开启lombok*#
    private ${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost} ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost};

    public ${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost} get${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}() {
        return ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost};
    }

    public void set${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}(${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost} ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost}) {
        this.${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost} = ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost};
    }
        #else
        #*一对多*#
    private List<${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}> ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost}List;

    public List<${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}> get${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}List() {
        return ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost}List;
    }

    public void set${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}List(List<${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}> ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost}List) {
        this.${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost}List = ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost}List;
    }
        #end
    #end
#end
#if(!${lombok})
    @Override
    public String toString() {
            return "${tableInfo.capitalizeTableName}{" +
      #foreach($column in ${tableInfo.columnInfos})
        #if($!{foreach.index}==0)
                "${column.propertyName} = " + ${column.propertyName} +
        #else
                ", ${column.propertyName} = " + ${column.propertyName} +
        #end
      #end
            "}";
    }
#end
}
