package ${basePackageName}#if(${moduleName}).${moduleName}#end#if(${serviceImplConfig.packageSimpleName}).${serviceImplConfig.packageSimpleName}#end;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.beans.BeanUtils;
import org.springframework.util.CollectionUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import xxs.common.module.utils.bean.CommonBeanUtils;
import java.util.List;
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${entityConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${entityConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${mapperInterfaceConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${mapperInterfaceConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end#if(${serviceInterfaceConfig.packageSimpleName}).${serviceInterfaceConfig.packageSimpleName}#end.${tableInfo.capitalizeTableName}${serviceInterfaceConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${paramDTOConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${paramDTOConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${resultDTOConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${resultDTOConfig.filePost};
#if(${tableInfo.tableRelationships})
import org.springframework.util.CollectionUtils;
#if(${mybatisPlus})
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import org.springframework.transaction.annotation.Transactional;
 #if(${tableInfo.tableRelationships})
import java.util.stream.Collectors;
     #foreach($relationTableInfo in ${tableInfo.tableRelationships})
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${entityConfig.packageSimpleName}.${relationTableInfo.relationTable.capitalizeTableName}${entityConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${paramDTOConfig.packageSimpleName}.${relationTableInfo.relationTable.capitalizeTableName}${paramDTOConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${resultDTOConfig.packageSimpleName}.${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${serviceInterfaceConfig.packageSimpleName}.${relationTableInfo.relationTable.capitalizeTableName}${serviceInterfaceConfig.filePost};
import ${tableInfo.keyColumnInfo.javaType.getName()};
     #end
 #end
#end
#end
#if(${tableInfo.tableRelationshipMainTableInfo})
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${paramDTOConfig.packageSimpleName}.${tableInfo.tableRelationshipMainTableInfo.relationTable.capitalizeTableName}${paramDTOConfig.filePost};
import ${tableInfo.tableRelationshipMainTableInfo.relationTable.keyColumnInfo.javaType.getName()};
#end
/**
 * $!{tableInfo.comment}服务实现类
 *
 * @author ${author}
 * @since ${generateTime}
 */
@Service
public class ${tableInfo.capitalizeTableName}${serviceImplConfig.filePost}#if(${mybatisPlus}) extends ServiceImpl<${tableInfo.capitalizeTableName}${mapperInterfaceConfig.filePost}, ${tableInfo.capitalizeTableName}${entityConfig.filePost}>#end implements ${tableInfo.capitalizeTableName}${serviceInterfaceConfig.filePost} {
#if(${tableInfo.tableRelationships})
    #foreach($relationTableInfo in ${tableInfo.tableRelationships})
    @Autowired
    private ${relationTableInfo.relationTable.capitalizeTableName}${serviceInterfaceConfig.filePost} ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost};
    #end
#end

    /**
     * 分页查询${tableInfo.name}
     */
    @Override
    public PageUtils page${tableInfo.capitalizeTableName}(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        return null;
    }

    /**
     * 获取${tableInfo.name}
     */
    @Override
    public ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} get${tableInfo.capitalizeTableName}InfoBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.baseMapper.selectById(${tableInfo.keyColumnInfo.propertyName});
        ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} ${tableInfo.tableName}${resultDTOConfig.filePost} = this.entityTo${resultDTOConfig.filePost}(${tableInfo.tableName}${entityConfig.filePost});
        return ${tableInfo.tableName}${resultDTOConfig.filePost};
    }

#if(${tableInfo.tableRelationships})
    /**
     * 获取${tableInfo.name} 和关联关系
     */
    @Override
    public ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} get${tableInfo.capitalizeTableName}InfoAndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.baseMapper.selectById(${tableInfo.keyColumnInfo.propertyName});
        ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} ${tableInfo.tableName}${resultDTOConfig.filePost} = this.entityTo${resultDTOConfig.filePost}(${tableInfo.tableName}${entityConfig.filePost});
        this.get${tableInfo.capitalizeTableName}RelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.tableName}${resultDTOConfig.filePost});
        return ${tableInfo.tableName}${resultDTOConfig.filePost};
    }

    /**
     * 根据${tableInfo.keyColumnInfo.capitalizePropertyName}获取和${tableInfo.name}的关联关系
     */
    private void get${tableInfo.capitalizeTableName}RelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} ${tableInfo.tableName}${resultDTOConfig.filePost}) {
        ${tableInfo.keyColumnInfo.javaType.getSimpleName()} relation${tableInfo.keyColumnInfo.capitalizePropertyName} = ${tableInfo.tableName}${resultDTOConfig.filePost}.get${tableInfo.keyColumnInfo.capitalizePropertyName}();
    #foreach($relationTableInfo in ${tableInfo.tableRelationships})
    #if(${mybatisPlus})
        #if(${relationTableInfo.one2One})
        #*一对一*#
        ${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost} ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost} = ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost}.get${relationTableInfo.relationTable.capitalizeTableName}By${tableInfo.keyColumnInfo.capitalizePropertyName}(relation${tableInfo.keyColumnInfo.capitalizePropertyName}));
        ${tableInfo.tableName}${resultDTOConfig.filePost}.set${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}(${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost});
        #else
        #*一对多*#
        List<${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}> ${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost}List = ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost}.get${relationTableInfo.relationTable.capitalizeTableName}sBy${tableInfo.keyColumnInfo.capitalizePropertyName}(relation${tableInfo.keyColumnInfo.capitalizePropertyName}));
        ${tableInfo.tableName}${resultDTOConfig.filePost}.set${relationTableInfo.relationTable.capitalizeTableName}${resultDTOConfig.filePost}List(${relationTableInfo.relationTable.tableName}${resultDTOConfig.filePost}List);
        #end
    #end
#end
    }
#end

    /**
     * 保存${tableInfo.name}
     */
    @Override
    public int add${tableInfo.capitalizeTableName}(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
#if(${genValidMethod})
        this.saveOrUpdateValid(${tableInfo.tableName}${paramDTOConfig.filePost}, true, false);
#end
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.paramToEntity(${tableInfo.tableName}${paramDTOConfig.filePost});
        return this.baseMapper.insert(${tableInfo.tableName}${entityConfig.filePost});
    }

#if(${tableInfo.tableRelationships})
    /**
     * 保存${tableInfo.name}和关联关系
     */
    @Transactional(rollbackFor = Exception.class)
    @Override
    public int add${tableInfo.capitalizeTableName}AndRelation(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
#if(${genValidMethod})
        this.saveOrUpdateValid(${tableInfo.tableName}${paramDTOConfig.filePost}, true, false);
#end
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.paramToEntity(${tableInfo.tableName}${paramDTOConfig.filePost});
        this.baseMapper.insert(${tableInfo.tableName}${entityConfig.filePost});
        ${tableInfo.keyColumnInfo.javaType.getSimpleName()} relation${tableInfo.keyColumnInfo.capitalizePropertyName} = ${tableInfo.tableName}Entity.get${tableInfo.keyColumnInfo.capitalizePropertyName}();
        this.add${tableInfo.capitalizeTableName}Relation(${tableInfo.tableName}${paramDTOConfig.filePost}, relation${tableInfo.keyColumnInfo.capitalizePropertyName});
        return 0;
    }

    /**
     * 批量添加关联关系
     */
    private void add${tableInfo.capitalizeTableName}Relation(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}, ${tableInfo.keyColumnInfo.javaType.getSimpleName()} relation${tableInfo.keyColumnInfo.capitalizePropertyName}) {
    #foreach($relationTableInfo in ${tableInfo.tableRelationships})
        #if(${mybatisPlus})
            #if(${relationTableInfo.one2One}) #*一对一 *#
        ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost}.add${relationTableInfo.relationTable.capitalizeTableName}By${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}(${tableInfo.tableName}${paramDTOConfig.filePost}, relation${tableInfo.keyColumnInfo.capitalizePropertyName});
            #else#*一对多*#
        ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost}.add${relationTableInfo.relationTable.capitalizeTableName}sBy${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}(${tableInfo.tableName}${paramDTOConfig.filePost}, relation${tableInfo.keyColumnInfo.capitalizePropertyName});
            #end
        #end
    #end
    }
#end

    /**
     * 修改${tableInfo.name}
     */
    @Override
    public int update${tableInfo.capitalizeTableName}(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
#if(${genValidMethod})
        this.saveOrUpdateValid(${tableInfo.tableName}${paramDTOConfig.filePost}, false, true);
#end
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.paramToEntity(${tableInfo.tableName}${paramDTOConfig.filePost});
        return this.baseMapper.updateById(${tableInfo.tableName}${entityConfig.filePost});
    }

#if(${tableInfo.tableRelationships})
    /**
     * 修改${tableInfo.name}和关联关系
     */
    @Transactional(rollbackFor = Exception.class)
    @Override
    public int update${tableInfo.capitalizeTableName}AndRelation(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
#if(${genValidMethod})
        this.saveOrUpdateValid(${tableInfo.tableName}${paramDTOConfig.filePost}, false, true);
#end
        this.update${tableInfo.capitalizeTableName}Relation(${tableInfo.tableName}${paramDTOConfig.filePost});
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.paramToEntity(${tableInfo.tableName}${paramDTOConfig.filePost});
        return this.baseMapper.updateById(${tableInfo.tableName}${entityConfig.filePost});
    }

    /**
     * 批量更新关联关系
     */
    private void update${tableInfo.capitalizeTableName}Relation(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
    #foreach($relationTableInfo in ${tableInfo.tableRelationships})
            #if(${mybatisPlus})
                #if(${relationTableInfo.one2One})                #*一对一 *#
        this.update${relationTableInfo.relationTable.capitalizeTableName}Relation(${tableInfo.tableName}${paramDTOConfig.filePost});
                #else                #*一对多*#
        this.update${relationTableInfo.relationTable.capitalizeTableName}Relations(${tableInfo.tableName}${paramDTOConfig.filePost});
                #end
            #end
        #end
    }

#foreach($relationTableInfo in ${tableInfo.tableRelationships})
  #if(${mybatisPlus})
   #if(${relationTableInfo.one2One})            #*一对一 *#
    private void update${relationTableInfo.relationTable.capitalizeTableName}Relation(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        ${tableInfo.keyColumnInfo.javaType.getSimpleName()} relation${tableInfo.keyColumnInfo.capitalizePropertyName} = ${tableInfo.tableName}${paramDTOConfig.filePost}.get${tableInfo.keyColumnInfo.capitalizePropertyName}();
        ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost}.update${relationTableInfo.relationTable.capitalizeTableName}By${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}(${tableInfo.tableName}${paramDTOConfig.filePost}, relation${tableInfo.keyColumnInfo.capitalizePropertyName});
    }
    #else            #*一对多*#
    private void update${relationTableInfo.relationTable.capitalizeTableName}Relations(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        ${tableInfo.keyColumnInfo.javaType.getSimpleName()} relation${tableInfo.keyColumnInfo.capitalizePropertyName} = ${tableInfo.tableName}${paramDTOConfig.filePost}.get${tableInfo.keyColumnInfo.capitalizePropertyName}();
        ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost}.update${relationTableInfo.relationTable.capitalizeTableName}sBy${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}(${tableInfo.tableName}${paramDTOConfig.filePost}, relation${tableInfo.keyColumnInfo.capitalizePropertyName});
    }
    #end
        #end
    #end
#end

    /**
     * 删除${tableInfo.name}
     */
    @Override
    public int delete${tableInfo.capitalizeTableName}By${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {
    #if(${genValidMethod})
        this.deleteValid(${tableInfo.keyColumnInfo.propertyName});
    #end
        return this.baseMapper.deleteById(${tableInfo.keyColumnInfo.propertyName});
    }

#if(${tableInfo.tableRelationships})
    /**
     * 删除${tableInfo.name}和关联关系
     */
    @Transactional(rollbackFor = Exception.class)
    @Override
    public int delete${tableInfo.capitalizeTableName}AndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {
    #if(${genValidMethod})
        this.deleteValid(${tableInfo.keyColumnInfo.propertyName});
    #end
        this.delete${tableInfo.capitalizeTableName}RelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.propertyName});
        return this.baseMapper.deleteById(${tableInfo.keyColumnInfo.propertyName});
    }

    /**
     * 批量删除关联关系
     */
    private void delete${tableInfo.capitalizeTableName}RelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} relation${tableInfo.keyColumnInfo.capitalizePropertyName}) {
    #foreach($relationTableInfo in ${tableInfo.tableRelationships})
        #if(${relationTableInfo.one2One})        #*一对一 *#
        ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost}.delete${relationTableInfo.relationTable.capitalizeTableName}By${tableInfo.keyColumnInfo.capitalizePropertyName}(relation${tableInfo.keyColumnInfo.capitalizePropertyName});
        #else        #*一对多*#
        ${relationTableInfo.relationTable.tableName}${serviceInterfaceConfig.filePost}.delete${relationTableInfo.relationTable.capitalizeTableName}sBy${tableInfo.keyColumnInfo.capitalizePropertyName}(relation${tableInfo.keyColumnInfo.capitalizePropertyName});
        #end
    #end
    }
#end
## 根据主表操作从表的接口
#if(${tableInfo.tableRelationshipMainTableInfo})
    #if(${tableInfo.tableRelationshipMainTableInfo.one2One})
        #set($methodTablePostkey="")
    #else
        #set($methodTablePostkey="s")
    #end
    #set($mainTableInfo=${tableInfo.tableRelationshipMainTableInfo.relationTable})
    /**
     * 根据${mainTableInfo.keyColumnInfo.propertyName}获取${tableInfo.capitalizeTableName}${methodTablePostkey}
     */
    #if(${tableInfo.tableRelationshipMainTableInfo.one2One})
    @Override
    public ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} get${tableInfo.capitalizeTableName}${methodTablePostkey}By${mainTableInfo.keyColumnInfo.capitalizePropertyName}(${mainTableInfo.keyColumnInfo.javaType.getSimpleName()} relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}) {
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.getOne(Wrappers.<${tableInfo.capitalizeTableName}${entityConfig.filePost}>lambdaQuery().eq(${tableInfo.capitalizeTableName}${entityConfig.filePost}::get${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}, relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}));
        return  CommonBeanUtils.copyProperties(${tableInfo.tableName}${entityConfig.filePost}, ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost}::new);
    }
    #else
    @Override
    public List<${tableInfo.capitalizeTableName}${resultDTOConfig.filePost}> get${tableInfo.capitalizeTableName}${methodTablePostkey}By${mainTableInfo.keyColumnInfo.capitalizePropertyName}(${mainTableInfo.keyColumnInfo.javaType.getSimpleName()} relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}) {
        List<${tableInfo.capitalizeTableName}${entityConfig.filePost}> ${tableInfo.tableName}${entityConfig.filePost}List = this.list(Wrappers.<${tableInfo.capitalizeTableName}${entityConfig.filePost}>lambdaQuery().eq(${tableInfo.capitalizeTableName}${entityConfig.filePost}::get${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}, relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}));
        return CommonBeanUtils.copyListProperties(${tableInfo.tableName}${entityConfig.filePost}List, ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost}::new);
    }
    #end
    /**
     * 保存${tableInfo.name}根据${mainTableInfo.capitalizeTableName}${paramDTOConfig.filePost}
     */
    @Override
    public int add${tableInfo.capitalizeTableName}${methodTablePostkey}By${mainTableInfo.capitalizeTableName}${paramDTOConfig.filePost}(${mainTableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${mainTableInfo.tableName}${paramDTOConfig.filePost}, ${mainTableInfo.keyColumnInfo.javaType.getSimpleName()} relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}) {
    #if(${tableInfo.tableRelationshipMainTableInfo.one2One})        #*一对一 *#
            this.save(CommonBeanUtils.copyProperties(${mainTableInfo.tableName}${paramDTOConfig.filePost}.get${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}(), ${tableInfo.capitalizeTableName}${entityConfig.filePost}::new, (s, t)->{
                t.set${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}(relation${mainTableInfo.keyColumnInfo.capitalizePropertyName});
            }));
    #else        #*一对多*#
        if (!CollectionUtils.isEmpty(${mainTableInfo.tableName}${paramDTOConfig.filePost}.get${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List())) {
            this.saveBatch(CommonBeanUtils.copyListProperties(${mainTableInfo.tableName}${paramDTOConfig.filePost}.get${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List(), ${tableInfo.capitalizeTableName}${entityConfig.filePost}::new, (s, t)->{
                t.set${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}(relation${mainTableInfo.keyColumnInfo.capitalizePropertyName});
            }));
        }
    #end
       return 0;
    }

    /**
     * 修改${tableInfo.name}根据${mainTableInfo.capitalizeTableName}${paramDTOConfig.filePost}
     */
    @Override
    public int update${tableInfo.capitalizeTableName}${methodTablePostkey}By${mainTableInfo.capitalizeTableName}${paramDTOConfig.filePost}(${mainTableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${mainTableInfo.tableName}${paramDTOConfig.filePost}, ${mainTableInfo.keyColumnInfo.javaType.getSimpleName()} relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}) {
      #if(${tableInfo.tableRelationshipMainTableInfo.one2One})        #*一对一 *#
          ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.getOne(Wrappers.<${tableInfo.capitalizeTableName}${entityConfig.filePost}>lambdaQuery().eq(${tableInfo.capitalizeTableName}${entityConfig.filePost}::get${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}, relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}));
          this.update(CommonBeanUtils.copyProperties(${mainTableInfo.tableName}${paramDTOConfig.filePost}${paramDTOConfig.filePost}.get${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}${paramDTOConfig.filePost}(), ${tableInfo.tableName}${entityConfig.filePost}));
      #else        #*一对多*#
        List<${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}> new${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List = ${mainTableInfo.tableName}${paramDTOConfig.filePost}.get${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List();
        //如果新的没有 全部删除
        if (CollectionUtils.isEmpty(new${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List)) {
            this.remove(Wrappers.<${tableInfo.capitalizeTableName}${entityConfig.filePost}>lambdaQuery().eq(${tableInfo.capitalizeTableName}${entityConfig.filePost}::get${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}, relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}));
            return 0;
        }
        List<${tableInfo.capitalizeTableName}${entityConfig.filePost}> old${tableInfo.capitalizeTableName}s = this.list(Wrappers.<${tableInfo.capitalizeTableName}${entityConfig.filePost}>lambdaQuery().eq(${tableInfo.capitalizeTableName}${entityConfig.filePost}::get${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}, relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}));
        //如果没有旧的 全部插入
        if (CollectionUtils.isEmpty(old${tableInfo.capitalizeTableName}s)) {
            this.saveBatch(CommonBeanUtils.copyListProperties(new${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List, ${tableInfo.capitalizeTableName}${entityConfig.filePost}::new, (s, t)-> {
                t.set${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}(relation${mainTableInfo.keyColumnInfo.capitalizePropertyName});
            }));
            return 0;
        }
        List<${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.javaType.getSimpleName()}> old${tableInfo.capitalizeTableName}${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}s = old${tableInfo.capitalizeTableName}s.stream().filter(item -> item.get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}() != null).map(${tableInfo.capitalizeTableName}${entityConfig.filePost}::get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}).collect(Collectors.toList());
        List<${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.javaType.getSimpleName()}> new${tableInfo.capitalizeTableName}${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}s = new${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List.stream().filter(item -> item.get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}() != null).map(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}::get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}).collect(Collectors.toList());
        //删除
        for (${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName} : old${tableInfo.capitalizeTableName}s) {
            if (!new${tableInfo.capitalizeTableName}${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}s.contains(${tableInfo.tableName}.get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}())) {
                this.removeById(${tableInfo.tableName}.get${tableInfo.keyColumnInfo.capitalizePropertyName}());
            }
        }
        //插入
        for (${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName} : new${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List) {
            if (!old${tableInfo.capitalizeTableName}${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}s.contains(${tableInfo.tableName}.get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}())) {
                this.save(CommonBeanUtils.copyProperties(${tableInfo.tableName}, ${tableInfo.capitalizeTableName}${entityConfig.filePost}::new, (s, t)-> {
                    t.set${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}(relation${mainTableInfo.keyColumnInfo.capitalizePropertyName});
                }));
            }
        }
        //更新
        for (${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} new${tableInfo.capitalizeTableName} : new${tableInfo.capitalizeTableName}${paramDTOConfig.filePost}List) {
            for (${tableInfo.capitalizeTableName}${entityConfig.filePost} old${tableInfo.capitalizeTableName} : old${tableInfo.capitalizeTableName}s) {
                if (new${tableInfo.capitalizeTableName}.get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}() != null && new${tableInfo.capitalizeTableName}.get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}().equals(old${tableInfo.capitalizeTableName}.get${tableInfo.tableRelationshipMainTableInfo.relationUniqueColumnInfo.capitalizePropertyName}())) {
                    ${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost} = this.getOne(Wrappers.<${tableInfo.capitalizeTableName}${entityConfig.filePost}>lambdaQuery().eq(${tableInfo.capitalizeTableName}${entityConfig.filePost}::get${tableInfo.keyColumnInfo.capitalizePropertyName}, old${tableInfo.capitalizeTableName}.get${tableInfo.keyColumnInfo.capitalizePropertyName}()));
                    CommonBeanUtils.copyProperties(new${tableInfo.capitalizeTableName}, ${tableInfo.tableName}${entityConfig.filePost}, "${tableInfo.keyColumnInfo.propertyName}");
                    this.updateById(${tableInfo.tableName}${entityConfig.filePost});
                }
            }
        }
        return 0;
    #end
    }

    /**
     * 根据${tableInfo.tableRelationshipMainTableInfo.relationTable.keyColumnInfo.propertyName}删除${tableInfo.name}
     */
    @Override
    public int delete${tableInfo.capitalizeTableName}${methodTablePostkey}By${mainTableInfo.keyColumnInfo.capitalizePropertyName}(${mainTableInfo.keyColumnInfo.javaType.getSimpleName()} relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}) {
        this.remove(Wrappers.<${tableInfo.capitalizeTableName}${entityConfig.filePost}>lambdaQuery().eq(${tableInfo.capitalizeTableName}${entityConfig.filePost}::get${tableInfo.tableRelationshipMainTableInfo.relationColumnInfo.capitalizePropertyName}, relation${mainTableInfo.keyColumnInfo.capitalizePropertyName}));
        return 0;
    }
#end

#if(${genValidMethod})
    private void deleteValid(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName}) {

    }

    private void saveOrUpdateValid(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}, boolean save, boolean update) {

    }
#end

    private ${tableInfo.capitalizeTableName}${entityConfig.filePost} paramToEntity(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost}) {
        return CommonBeanUtils.copyProperties(${tableInfo.tableName}${paramDTOConfig.filePost}, ${tableInfo.capitalizeTableName}${entityConfig.filePost}::new);
    }

    private ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost} entityTo${resultDTOConfig.filePost}(${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost}) {
        return CommonBeanUtils.copyProperties(${tableInfo.tableName}${entityConfig.filePost}, ${tableInfo.capitalizeTableName}${resultDTOConfig.filePost}::new);
    }

}
