package ${basePackageName}#if(${moduleName}).${moduleName}#end#if(${serviceInterfaceConfig.packageSimpleName}).${serviceInterfaceConfig.packageSimpleName}#end;
#if(${swagger})
import com.baomidou.mybatisplus.extension.service.IService;
#end
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${entityConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${entityConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${paramDTOConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${paramDTOConfig.filePost};
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${resultDTOConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${resultDTOConfig.filePost};

/**
 * $!{tableInfo.comment}服务类
 *
 * @author ${author}
 * @since ${generateTime}
 */
public interface ${tableInfo.capitalizeTableName}${serviceInterfaceConfig.filePost}#if(${mybatisPlus}) extends IService<${tableInfo.capitalizeTableName}${entityConfig.filePost}>#end {
    /**
     * 列表
     */
    PageUtils get${tableInfo.capitalizeTableName}List(${tableInfo.capitalizeTableName}Param ${tableInfo.tableName}Param);

    /**
     * 获取${tableInfo.capitalizeTableName}
     */
    ${tableInfo.capitalizeTableName}Result get${tableInfo.capitalizeTableName}InfoBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName});

    /**
     * 保存${tableInfo.capitalizeTableName}
     */
    int add${tableInfo.capitalizeTableName}(${tableInfo.capitalizeTableName}Param ${tableInfo.tableName}Param);

    /**
     * 修改${tableInfo.capitalizeTableName}
     */
    int update${tableInfo.capitalizeTableName}(${tableInfo.capitalizeTableName}Param ${tableInfo.tableName}Param);

    /**
     * 删除${tableInfo.capitalizeTableName}
     */
    int delete${tableInfo.capitalizeTableName}By${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName});

    #if(${tableInfo.tableRelationships})
    /**
    * 获取${tableInfo.capitalizeTableName}和关联关系
    */
    ${tableInfo.capitalizeTableName}Result get${tableInfo.capitalizeTableName}InfoAndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName});

    /**
    * 保存${tableInfo.capitalizeTableName}和关联关系
    */
    int add${tableInfo.capitalizeTableName}AndRelation(${tableInfo.capitalizeTableName}Param ${tableInfo.tableName}Param);

    /**
    * 修改${tableInfo.capitalizeTableName}和关联关系
    */
    int update${tableInfo.capitalizeTableName}AndRelation(${tableInfo.capitalizeTableName}Param ${tableInfo.tableName}Param);

    /**
    * 删除${tableInfo.capitalizeTableName}和关联关系
    */
    int delete${tableInfo.capitalizeTableName}AndRelationBy${tableInfo.keyColumnInfo.capitalizePropertyName}(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName});
    #end
}
