#添加数据存储过程
DELIMITER $$
CREATE PROCEDURE add_${tableInfo.name}(IN n int)
 BEGIN
 DECLARE i INT DEFAULT 1;
 WHILE (i <= n) DO
  INSERT INTO ${tableInfo.name} (#foreach($column in ${tableInfo.columnInfos})`${column.columnName}`, #end) VALUES (#foreach($column in ${tableInfo.columnInfos})${column.columnName}, #end);
  SET i = i + 1;
 END WHILE;
 END $$
 DELIMITER ;

#删除存储过程
DROP PROCEDURE add_${tableInfo.name};

#调用存储过程
CALL add_${tableInfo.name}(1000);