#添加数据存储过程
 DELIMITER $$
 CREATE PROCEDURE addDocumentData(IN n int)
 BEGIN
  # 定义循环值
  DECLARE i INT DEFAULT 1;
  #定义一个错误的变量,类型是整形，默认是0
  DECLARE t_error INTEGER DEFAULT 0;
  #捕获到sql的错误，就设置t_error为1
  DECLARE CONTINUE HANDLER FOR SQLEXCEPTION SET t_error=1;
  # 开启事务
  START TRANSACTION;
  # 开始循环插入
  WHILE ( i <= n ) DO
  INSERT INTO ${tableInfo.name} (#foreach($column in ${tableInfo.columnInfos})`${column.columnName}`, #end) VALUES (#foreach($column in ${tableInfo.columnInfos})${column.columnName}, #end);
  SET i = i + 1;
 END WHILE;

  #如果捕获到错误
 IF t_error=1 THEN
    #回滚
    ROLLBACK;
 ELSE
    #提交
    COMMIT;
 END IF;
 END;

#删除存储过程
DROP PROCEDURE add_${tableInfo.name};

#调用存储过程
CALL add_${tableInfo.name}(1000);