package ${basePackageName}#if(${moduleName}).${moduleName}#end#if(${mapperInterfaceConfig.packageSimpleName}).${mapperInterfaceConfig.packageSimpleName}#end;

import ${basePackageName}#if(${moduleName}).${moduleName}#end.${entityConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${entityConfig.filePost};
import org.apache.ibatis.annotations.Mapper;
#if(${mybatisPlus})
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
#else
import java.util.List;
import ${basePackageName}#if(${moduleName}).${moduleName}#end.${entityConfig.packageSimpleName}.${tableInfo.capitalizeTableName}${entityConfig.filePost};
#end
/**
 * $!{tableInfo.comment}Mapper接口
 *
 * @author ${author}
 * @since ${generateTime}
 */
@Mapper
public interface ${tableInfo.capitalizeTableName}${mapperInterfaceConfig.filePost}#if(${mybatisPlus}) extends BaseMapper<${tableInfo.capitalizeTableName}${entityConfig.filePost}>#end {
#if(!${mybatisPlus})
        /**
         * 列表
         */
        List<${tableInfo.capitalizeTableName}${entityConfig.filePost}> list(${tableInfo.capitalizeTableName}${paramDTOConfig.filePost} ${tableInfo.tableName}${paramDTOConfig.filePost});

        /**
         * 信息
         */
        ${tableInfo.capitalizeTableName}${entityConfig.filePost} selectById(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName});

        /**
         * 保存
         */
        int insert(${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost});

        /**
         * 修改
         */
        int updateById(${tableInfo.capitalizeTableName}${entityConfig.filePost} ${tableInfo.tableName}${entityConfig.filePost});

        /**
         * 删除
         */
        int deleteById(${tableInfo.keyColumnInfo.javaType.getSimpleName()} ${tableInfo.keyColumnInfo.propertyName});
#end
}
